/* Version smartphone */
@media only screen and (min-width : 480px) {
    .img-logo {
        height: 20%;
        width: 20%;
        margin-top: 10px;
        margin-left: 10px
    }

    .hr-burger-bar {
        width: 20px;
        margin: 2px;
        border: 1px solid red;

    }

    .burger-bar {
        margin-top: 10px;
        margin-right: 10px
    }

    header {
        display: flex;
        justify-content: space-between;
    }
    .header-links{
        display: none;
    }

    /* main */

    .main-mobile {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
        text-align: center;

    }

    .h1-main-mobile {
        font-size: 48px;
        margin: 30px auto;
        font-family: DM Sans;
        font-style: normal;
        font-weight: 500;
        line-height: 62px;

    }

    .p-sub-h1-main-mobile {
        margin-bottom: 20px;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 17px;
    }

    .img-main-mobile {
        border-radius: 10px;
    }

    .signup-button-mobile {
        margin: 30px auto;
        width: 141px;
        height: 31px;
        background: #FE142F;
        border-radius: 8px;
        border: none;
        font-size: 14px;
    }

    .footer-text-mobile {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        /* identical to box height */

        text-align: center;

        color: #FE142F;
        margin-bottom: 20px;
    }

}